{% extends "base.html" %}

{% block content %}
<!-- <div class="about-container" style="background-color: rgb(21, 182, 98);"> -->
<div class="about-container" style="background: linear-gradient(to right, #e0f0ff, #f5faff);">
    <h2>About Career Compass</h2>
    <p >
        Career Compass is an intelligent web application that helps students and professionals discover 
        suitable career paths based on their expected salary. Using machine learning, 
        we suggest top four job roles and provide detailed insights such as qualifications, job descriptions, 
        future scope, and location-wise salary estimates.
    </p>
    <p>
        Whether you're just starting your journey or looking to switch paths, Career Compass aims to 
        simplify career planning and decision-making.
    </p>
</div>
{% endblock %}
